.shipping-container {
    width: 100%;
    position: relative;
    background-color: #fff;
    height:100vh;
}

.shipping-container h1 {
    color: #666;
}

.shipping-container label {
    font-size: 17px;
    font-weight: bold;
    color: #666;
}

 