* {
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 62.5%;  16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

}

body {

  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

/* #root {
  height: 100%;
} */


header {
  /* grid-area: header; */
  background-color: #203040;
}


/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-row a:hover {
  color: #fff;
  text-decoration: none;
}

.header-row span.bg-danger {
  font-size: 13px;
}

.header-row .bg-danger {
  position: absolute;
  top: 10;
  border-radius: 50%
}

/* All Products style */
.product-main-container {
  position: relative;
}

.product-main-container .brand-name {
  font-size: 12px;

}

/* Rating Component style*/
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}


/* Product details page */
.product-details-page {
  width: auto;
  height: 100vh;
  position: relative;

}

.product-details-page .product-title {
  color: #6b6969;
}

.product-details-page .brand-name {
  font-size: 20px;
  /* border-top: 1px solid #f4ebeb; */

}

.product-details-page .product-description {
  color: #7e7a7a;
  font-size: 16px;
}

@media(max-width:768px) {
  .product-details-page {
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: 120px;
  }
}


/* cart items */
.cart-items {
  position: relative;
}

/* .cart-items .shopping-bag {
  display: flex;
  margin-bottom: 40px;

} */

.cart-items .shopping-bag .fa-shopping-cart {
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #203040;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-right: 8px;
}


/* Login */
.login-page {
  width: auto;
  height: auto;
  position: relative;
  margin: 0 auto;

}

.login-page .login {
  max-width: 60rem;
  height: 40rem;
  position: relative;
  /* background-color: #f6f6f6; */
  background-color: #fff;
  margin: 0 auto;
  padding: 50px 15px;
  overflow: hidden;


}

.login-page .login input {
  border-radius: 0px;

}

.login-page .login button.btn-outline-danger {
  margin-right: 12px;
}

.login-page .login small.create-new-account {
  font-size: 14px;

}

.login-page .login:before {
  content: "";
  width: 100%;
  height: 10px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #9a3f3f 20%, #479842 20%, #479842 75%, #479842 75%, #737373 100%);
}


.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
ul.dropdown-content  li{
  list-style-type:none;
}
.dropdown:hover .dropdown-content {
  display: block;
}








/* Start of Registeration page */
.register-page {
  width: auto;
  height: auto;
  position: relative;
  margin: 0 auto;

}

.register-page .register {
  max-width: 60rem;
  height: 40rem;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  padding: 15px 15px;
  overflow: hidden;
}

.register-page .register input {
  background-color: #fff;
}

.register-page .register:before {
  content: "";
  width: 100%;
  height: 10px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #9a3f3f 20%, #479842 20%, #479842 75%, #479842 75%, #737373 100%);
}

.register-page .register button.btn-outline-danger {
  margin-right: 12px;
}

.register-page .register small.have-an-account {
  font-size: 14px;

}

/*Product not found*/
.register-page .product_not_found {
  background: #ffd5d5;
  text-align: center;
  font-size: 25px;
  padding: 39px;
}



/* Footer Styles */
footer {
  /* grid-area: footer; */
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #999;
  font-size: 12px;
  padding: 0px;
  background-color: #203040;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 25% auto 100% auto;

}

footer p a {
  color: #f0c040;
}