* {
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 62.5%;  16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

}

body {

  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  /* display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%; */
}

header {
  /* grid-area: header; */
  background-color: #203040;
}


/* Header */
header a {
  color: #ffffff;
  padding: .5rem;
}

a.brand {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-row a:hover{
  color: #fff;
  text-decoration: none;
}

.header-row span.bg-danger{
  font-size:13px;
}
.header-row .bg-danger {
  position: absolute;
  top: 0;
 
  border-radius:50%
}

/* All Products style */
.product-main-container {
  position: relative;
}

.product-main-container .brand-name {
  font-size: 12px;

}







/* Rating Component style*/
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}


/* Product details page */
.product-details-page {
  width: auto;
  height: 100vh;
  position: relative;

}

.product-details-page .product-title {
  color: #6b6969;
}

.product-details-page .brand-name {
  font-size: 20px;
  /* border-top: 1px solid #f4ebeb; */

}

.product-details-page .product-description {
  color: #7e7a7a;
  font-size: 16px;
}

@media(max-width:768px) {
  .product-details-page {
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: 120px;
  }
}













/*Product not found*/
.product_not_found {
  background: #ffd5d5;
  text-align: center;
  font-size: 25px;
  padding: 39px;
}





/* Footer Styles */
footer {
  /* grid-area: footer; */
  width: 100%;
  height: auto;
  position: relative;
  background-color: #203040;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  line-height: 50px;
  padding: 0px;
  margin: 100% auto;

}

footer p a {
  color: #f0c040;
}